$offWhite: #f7f7f7;
$grey: #dedede;
$offDark: #000;
$midDark: #e11600;
$lightDark: #333;
$highlight: #baba45;
$highlightSecondary: red;
$footerHeight: 80px;
$searchBarHeight: 60px;
$panelMargin: 24px;
$toggleLayerPanelButtonWidth: 40px;
$leftPanelsWidth: 500px;
$breakpointMobile: 600px;
$fontNormal: "Lato", sans-serif;
