<div ref="container" class="info-container">
  <div ref="title" class="info-title">
    <h1>More info</h1>
  </div>
  <div class="info-body">
    <div class="info-content-container">
      <div ref="content" class="info-content">
        <h3>Average Score: <span class="highlight">86.4</span></h3>

        <table>
          <tr>
            <td>Google Food</td>
            <td>22.3</td>
          </tr>
          <tr>
            <td>Google Community</td>
            <td>65.2</td>
          </tr>
          <tr>
            <td>Google Big Shops</td>
            <td>12.2</td>
          </tr>
          <tr>
            <td>Google Small Shops</td>
            <td>23.5</td>
          </tr>
          <tr>
            <td>Google Transit</td>
            <td>25.8</td>
          </tr>
          <tr>
            <td>Google Tourist</td>
            <td>12.4</td>
          </tr>
          <tr>
            <td>Yelp Food</td>
            <td>26.9</td>
          </tr>
          <tr>
            <td>Yelp Shopping</td>
            <td>58.3</td>
          </tr>
          <tr>
            <td>Yelp Community</td>
            <td>5.23</td>
          </tr>
          <tr>
            <td>Walk Score</td>
            <td>78.2</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
