<div class="search-container">
  <div class="search-bar">
    <!-- <input ref="input" type="text" name="search" placeholder="Search..." class="search-input"></input> -->
    <select ref="input" class="search-input" id="selectcity">
      <!-- <option value="default">Please select</option> -->
      <option selected value="Cambridge">Cambridge, MA</option>
      <option value="Providence">Providence, RI</option>
      <option value="Trenton">Trenton, NJ</option>
      <option value="Cuero">Cuero, TX</option>
      <option value="Portage">Portage, MI</option>
      <option value="Lafayette">Lafayette, LA</option>
      <option value="ArlingtonHeights">Arlington Heights, IL</option>
    </select>
  </div>
  <div ref="results" class="search-results"></div>
</div>
